/* ----**** Lib *****---- */
/* ----**** Variables *****---- */
/* ----- Colors */
/* Primary */
/* Secondary */
/* ----- Fonts */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
/* ----**** HTML *****---- */
html.html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----**** Body *****---- */
body.body {
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
}

/* ----**** Main *****---- */
/* ----**** Header *****---- */
header.header {
  min-height: 520px;
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
}

/* ----**** Section *****---- */
section.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  position: relative;
}

section.graphic-design {
  height: 700px;
  background: url(/images/mobile/image-graphic-design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section.graphic-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  padding: 0 20px;
}

section.photography {
  background: url(/images/mobile/image-photography.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -30px;
}

section.testimonials {
  text-align: center;
}

/* ----**** Div *****---- */
div.header-info {
  margin-top: 50px;
  text-align: center;
}

div.main__image {
  height: 320px;
  background: url(/images/mobile/image-transform.jpg);
  background-size: cover;
}

div.main__info {
  padding: 70px 20px;
  text-align: center;
}

div.secondary-info__image {
  height: 320px;
  background: url(/images/mobile/image-stand-out.jpg);
  background-size: cover;
}

div.testimonial-card {
  min-height: 400px;
}

div.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

div.footer_icons {
  margin-top: 80px;
}

/* ----**** Footer *****---- */
footer.footer {
  text-align: center;
  background-color: #458c7e;
  padding: 45px 0;
}

/* ----**** Utilities *****---- */
/* ----**** Title *****---- */
h1, h2, h3, h4 h5, h6 {
  font-family: "Fraunces", serif;
}

h1.header-info__title {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 45px;
}

h2.main__info--title {
  font-size: 3.1rem;
  color: #23303e;
}

h2.graphic__design--title {
  color: #25564b;
}

h3.testimonial-title {
  color: #818498;
  text-transform: uppercase;
  margin: 80px 0;
  letter-spacing: 5px;
  font-size: 1.6rem;
}

h4.testimonial-card__author {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 15px;
}

h3.footer_title {
  font-size: 3rem;
  text-transform: lowercase;
  font-weight: bold;
  color: #25564b;
}

/* ----**** Anchor *****---- */
a.main__info--link {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  text-decoration: none;
  border-bottom: 2px solid #fad400;
}

a.main__info--link-two {
  border-bottom: 3px solid rgba(254, 120, 103, 0.5);
}

a.footer_link {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: #25564b;
  font-size: 2rem;
  font-weight: 500;
}

a.footer_link:hover {
  text-decoration: underline;
  color: #FFF;
}

/* ----**** Pgraphs *****---- */
p.main__info--pgraph {
  margin: 35px 0;
  color: #818498;
  line-height: 30px;
}

p.main__info--pgraph-two {
  padding: 0 5px;
}

p.graphic__design--pgraph {
  margin-top: 30px;
  color: #25564b;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 50px;
}

p.testimonial-pgraph {
  margin: 0 10%;
  font-weight: 500;
  font-size: 1.7rem;
  color: #5a636c;
  line-height: 30px;
  margin-bottom: 30px;
}

p.testimonial-card-profession {
  margin-bottom: 100px;
  color: #a7abae;
  font-weight: 700;
}

/* ----**** Image *****---- */
img.header__container-logo--logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

img.testimonial-image {
  border-radius: 50%;
  margin-bottom: 40px;
}

img.testimonial-image {
  width: 100px;
  height: 100px;
}

img.img.testimonial-image:nth-of-type(2) {
  margin-top: 100px;
}

img.icons_footer {
  margin-right: 20px;
}

img.icons_footer:hover {
  color: #FFF;
}

/* ----**** Components *****---- */
/* ----**** Nav *****---- */
/* ----**** List *****---- */
details.nav {
  position: absolute;
  right: 30px;
}

summary.nav__summary {
  list-style: none;
  width: 25px;
}

li.nav-ul__item {
  list-style: none;
}

/* ----**** Button *****---- */
/* ----**** Form *****---- */
/* ----**** Media queries *****---- */